language: ruby
before_install:
  - gem install bundler

install:
  - bundle install

script:
  - rspec test/suite.rb

notifications:
  email:
  - ngiger@ywesee.com
rvm:
  - ruby-head
  - 2.0.0
  - 1.9.3
  - 1.8.7
matrix:
  allow_failures:
    - rvm: ruby-head
